*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}
header{
    display: flex;
    flex-direction: row;
   /* background-color: rgb(138, 138, 138);*/
    background-image: linear-gradient(to bottom, rgb(255, 0, 0), rgb(0, 0, 0));
    padding: 20px;
    gap: 20px;
    height: 175px;
    min-height: 150px;
    max-height: 200px;
    animation: myAnimation 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes myAnimation{
    0% {background-image: linear-gradient(to bottom, rgb(255, 0, 0), rgb(0, 0, 0));}
    25% {background-image: linear-gradient(to top, rgb(255, 0, 0), rgb(0, 0, 0));}
    50% {background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(0, 0, 0));}
    75% {background-image: linear-gradient(to left, rgb(255, 0, 0), rgb(0, 0, 0));}
    100% {background-image: linear-gradient(to bottom, rgb(255, 0, 0), rgb(0, 0, 0));}
}
#logo{
   height: 100%;
    border-radius: 5%;
}
header h1{
    color: rgb(85, 85, 196);
    text-shadow: 5px 5px 8px red;
    display: block;
    padding: 20px;
    flex: 1;
    text-align: center;
    font-size: 2rem;
}
.contacts{
    color: aliceblue;
    letter-spacing: 1px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;

}
.contacts p:hover {
     background-color: rgb(14, 13, 13);
     color: white;
     cursor: pointer;
     transform: scale(1.2);
}



nav{
    max-width: 1400px;
    background-color: rgb(88, 88, 88);
    border-bottom: 2px solid red;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
     color: aliceblue;
}
nav a{
    display: block;
    text-decoration: none;
    color: inherit;
    width: 200px;
    font-size: 1.5rem;
   
    padding: 10px 0;
}
nav a img{height: 25px;}
nav a:hover{
     background-color: rgb(61, 61, 61);
     transition: 0.5s;
}
.drop{
    position: relative;
}
.droplist{
    position: absolute;
    display: none;
    background-color: rgb(23, 96, 160);
    color: aliceblue;
    z-index: 1;
  
}

.drop:hover .droplist{
    display: block;
    transition: 1s;
}
.droplist p{
     display: block;
    text-decoration: none;
    color: aliceblue;
   
    padding: 10px 20px;

}
.droplist p:hover{
     background-color: rgb(61, 61, 61);
     transition: 0.5s;
     cursor: pointer;
    
}
.droplist p:active{
     transform: translateY(5px);
}
/*-------------MAIN----------------*/
main{
    max-width: 1400px;
    margin: 10px auto;
    background-color: rgb(199, 199, 199);
    box-shadow: 5px 5px 10px black;
    padding: 20px;
    position: relative;

}
main h2{
    display: block;
    text-align: center;
    padding: 10px;
}
main img{
    width: 100%;
}
/*--------SECTION ADS -----------**/
section{
    max-width: 1400px;
    margin: 10px auto;
    background-color: rgb(199, 199, 199);
    box-shadow: 5px 5px 10px black;
    position: relative;
    padding: 20px;
    color: aliceblue;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto auto auto;
    grid-template-areas: 'h2 h2 h2 h2'
                        'conl conl conr conr'
                        '. foo foo . ';
}


section h2{
    display: block;
    text-align: center;
    text-shadow: 4px 4px 8px black;
    grid-area: h2;
    box-shadow: 5px 5px 10px black; 
    padding: 20px;
   
}

.gallery{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 5px 5px 10px black;
}
.gallery-item{
    width: calc(50% - 25px);
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-content: space-between;
   
   

}
.gallery-item:hover{
    border: 2px solid black;
    background-color: black;
}
.gallery-item img{
    width: 100%;
    box-shadow: 5px 5px 10px black; 
    border-radius: 20px;
}
.descr{
    width: 100%;
    margin: 15px auto;
    text-align: center;
    font-size: 2rem;
    text-shadow: 3px 3px 6px black;
 
}
.conl{grid-area: conl;}
.conr{grid-area: conr;}

.foo{
    padding: 15px;
    box-shadow: 5px 5px 10px black;
    grid-area: foo;
    padding: 20px;

}
.foo a{
    display: block;
    text-decoration: none;
    color: aliceblue;
    text-shadow: 4px 4px 8px black;
}


/*-------------FOOTER------------------*/
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    padding: 30px;
    color: aliceblue;
    text-align: center;
    align-items: center;
    gap: 20px;
}
.foot1{flex: 30%; display: flex; flex-direction: row; gap: 5%; justify-content: center;}
.foot2{flex: 30%;}
.foot3{flex: 30%;} .foot3 img{width: 80%;} 


/*---------SETWINDOW----------*/
.setwin{
    position: absolute;
    left: 50%;
    top: 0;
    width: 30vw;
    height: 30vw;
    background-color: black;
    color: aliceblue;
    transform: translate(-50%, 50%);
    padding: 10vh 3vh 3vh 3vh;
    font-size: 3vh;
    word-spacing: 1px;
    display: none;
    flex-direction: column;
}
#closesetwin{
    background-color: aliceblue;
    width: 3vw;
    height: auto;
    color: black;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 1vh;
    font-size: 3vh;
    font-weight: 900;
    cursor: pointer;
    font-size: 3vh;
}
#closesetwin:hover{
    transform: scale(1.2);
    background-color: black;
    color: white;
    border: 2px solid white;
}

.set-item{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    align-content: space-between;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(127, 255, 212, 0);

}
/*-----------Media--------------------------*/

@media screen and (max-width: 700px) {
    .setwin{
        width: 80vw;
        height: 80vw;
    }
    #closesetwin{
        height: auto;
        width: auto;
    }
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: none;
        height: auto;
    }
    header h1{
        border: 2px solid rgb(255, 115, 0);
        outline: 2px solid red;
        border-radius: 10px;
    }
    #logo{
        width: 80%;
        margin: 0 auto;
    }

    .contacts{
        font-size: 1.5rem;
    }
    header h1{
        font-size: 2.2rem;
    }
    nav{
        flex-direction: column;
        align-items: center;
       
    }
    nav a{
         text-align: center;
         width: 100%;
    }
    .drop{width: 100%;}
    .droplist{width: 100%; text-align: center;}
    .drop a{width: 100%;}
    footer{
        flex-direction: column;
    }
    .foot3 img{width: 80%;} 
    section{
    max-width: 1400px;
    margin: 10px auto;
    background-color: rgb(199, 199, 199);
    box-shadow: 5px 5px 10px black;
    position: relative;
    padding: 20px;
    color: aliceblue;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 'h2 h2 h2 h2'
                        'conl conl conl conl'
                        'conr conr conr conr'
                        '. foo foo . ';
}
    
}
@media screen and (max-width:1000px) {
    .gallery-item{
    width: calc(100% - 25px);
   
   

}
    
}
@media screen and (min-width:1500px) {
    header h1{
        font-size: 5rem;
    }
   
    footer *{
        font-size: 3rem;
    }
   
    
}
