@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
header{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    max-width: 1300px;
    margin: 0 auto;
    color: rgb(32, 32, 88);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

}
.logo{
    font-size: 3rem;
     text-shadow: 2px 2px 5px black;
}
nav{
    display: flex;
    flex-direction: row;
    color: rgb(122, 122, 122);
}
nav a{
    text-decoration: none;
    margin-top: 10px;
    display: block;
    color: inherit;
    padding: 10px 20px;
    font-size: 1.2rem;


}
nav a:hover{
    color: rgb(34, 34, 34);
    transition: 0.5s;
}
section{
    max-width: 1300px;
    margin: 0 auto;
    padding: 15px;
}
section .image img{
    width: 100%;
    margin: 0 auto;
}
section .image{
    position: relative;

}
.descr{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.descr h2,.descr p,.descr a{
    color: white;
}
.descr h2{font-size: 4rem; letter-spacing: 3px; text-align: center; margin: auto;  text-shadow: 5px 5px 10px black;}
.descr p{font-size: 3rem; letter-spacing: 2px; margin: auto;  text-shadow: 5px 5px 10px black;}
.descr a{
    font-size: 2rem; 
    letter-spacing: 2px; 
    margin: auto;
    text-decoration: none;
    background-color: rgb(14, 96, 163);
    border-radius: 1vh;
    padding: 2vh 3vh;
    box-shadow: 5px 5px 10px black;

}
.descr a:hover{
    background-color: rgb(10, 37, 59);
    transition: 0.5s;

}
.descr a:active{
    background-color: rgb(10, 37, 59);
    box-shadow: 0 0 0 black;
    color: grey;
}

main{
    max-width: 1300px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    justify-items: center;
    gap: 30px;
    padding: 15px;
}
main h2{
    display: block;
    text-align: center;
    font-size: 4vw;
    color: rgb(32, 32, 88);
    text-shadow: 2px 2px 5px black;
    grid-column: 1/ span 4;

}
.main-item{
    display: flex;
    flex-direction: column;
    padding: 20px;
 
}
.main-item:hover{
    background-color: rgba(192, 169, 95, 0.473);
    border-radius: 10px;
    outline: 2px solid rgba(173, 153, 85, 0.747);
    cursor: pointer;
}
.main-item img{
    width: 100%;
    border-radius: 15px;
    margin: 0 auto;
}

.main-item h3{
    display: block;
    text-align: center;
    font-size: 2rem;
    padding: 25px;
    color: rgb(24, 24, 48);
}
.main-item p{
    display: block;
    text-align: justify;
    text-indent: 20px;
    font-size: 1.2rem;
    padding: 25px;
    color: rgb(73, 73, 73);
    flex: 1;
}
.main-item a{
    display: block;
    text-decoration: none;
    color: rgb(24, 24, 48);
    padding: 10px 20px;
    background-color: rgb(114, 114, 114);
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
    margin: auto;
    word-spacing: 1px;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 20px;
}
.main-item a:hover{
    background-color: rgb(37, 37, 37);
    color: rgb(192, 192, 192);
    transition: 0.5s;

}
.main-item a:active{
    background-color: rgb(10, 37, 59);
    box-shadow: 0 0 0 black;
    color: grey;
}

.contact{
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    justify-items: center; 
    padding: 15px;
    gap: 30px;
}
.contact h2{
    font-size: 3rem;
    color: rgb(32, 32, 88);
    text-shadow: 2px 2px 5px black;
    grid-area: 1/1/2/4;
}
.contact button{
    grid-area: 3/2/4/3;
    font-size: 1.5rem; 
    letter-spacing: 2px; 
    margin: auto;
    text-decoration: none;
    background-color: rgb(14, 96, 163);
    border-radius: 5px;
    padding: 10px 25px;
    box-shadow: 5px 5px 10px black;

}
.contact button:hover{
    background-color: rgb(10, 37, 59);
    cursor: pointer;
    transition: 0.5s;

}
.contact button:active{
    background-color: rgb(10, 37, 59);
    box-shadow: 0 0 0 black;
    color: grey;
}
.contact input{
    max-width: 250px;
    display: block;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
    
}

footer{
    max-width: 1300px;
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
    padding: 35px;

}
@media screen and (max-width: 768px) {
    header{
    
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    position: static;
    

}
.logo{text-align: center;}

nav{
    flex-direction: column;
    text-align: center;
}

main{
   
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
 
}
main h2{
    grid-column: auto;
}
.contact{
    
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 'heading'
    'text'
    'email'
    'message'
    'send';
    
}
.contact h2{

   grid-area: heading;
    
}
#text{grid-area: text;}
#email{grid-area: email;}
#message{grid-area: message;}
.contact input{
    width: auto;
    display: block;
}
.contact button{grid-area: send;}
    .descr h2{font-size: 5vw;}
.descr p{font-size: 3vw; }
.descr a{
    font-size: 3vw; }
}